@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'); */

*,::before,::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 user-select: none;
}

*:not(i){
    font-family: 'Poppins', sans-serif;
}

html, html:focus-within {
 scroll-behavior: smooth;
}

img, picture {
 max-width: 100%;
 display: block;
}

body {
  background-color: #333;
  color: #f1f1f1;
}

a, a:visited {
  color: #f7f7f7;
}
 
