:root {
    --percent-blue: #008fff;
}

.container {
    padding: 25px 4vw;
}


h1 {
    color: var(--percent-blue);
    font-size: 6vmin;
    text-align: center;
    padding: 30px 0;
}
p {
    font-size: 3vmin; 
    line-height: 2em;
    letter-spacing: 0.05em;
    text-align: justify;
    margin: 50px 0;
    padding: 0 30px;
}